fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
apscheduler
openai  # used for Groq's OpenAI-compatible API
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pywin32
requests
alembic